.cls-1 {
    fill: #71c6d4;
    stroke: #71c6d4;
}

.cls-1, .cls-2, .cls-3, .cls-4 {
    stroke-miterlimit: 10;
}

.cls-1, .cls-2, .cls-4 {
    stroke-width: 2px;
}

.cls-2 {
    fill: #409ec0;
    filter: url(#outer-glow-1);
    stroke: #4096b6;
}

.cls-5, .cls-6, .cls-7, .cls-8, .cls-9 {
    font-family: DINPro-Bold, 'DIN Pro';
    font-weight: 700;
}

.cls-5, .cls-6, .cls-7, .cls-9 {
    fill: #585959;
}

.cls-5, .cls-9 {
    font-size: 19.92px;
}

.cls-6 {
    font-size: 22.41px;
}

.cls-3 {
    fill: url(#_무제_그라디언트_65);
    filter: url(#outer-glow-4);
    stroke: #fff;
}

.cls-4 {
    fill: #c64b23;
    filter: url(#outer-glow-2);
    stroke: #d04b21;
}

.cls-10 {
    fill: #e0e0df;
}

.cls-10, .cls-11, .cls-12, .cls-13, .cls-14, .cls-15, .cls-16 {
    stroke-width: 0px;
}

.cls-17 {
    letter-spacing: -.03em;
}

.cls-11 {
    fill: #f7d97d;
    filter: url(#outer-glow-7);
}

.cls-12 {
    fill: url(#_무제_그라디언트_34);
}

.cls-13 {
    fill: none;
}

.cls-18 {
    letter-spacing: 0em;
}

.cls-14 {
    fill: url(#_무제_그라디언트_37);
    filter: url(#outer-glow-6);
}

.cls-19 {
    letter-spacing: -.04em;
}

.cls-20 {
    letter-spacing: -.08em;
}

.cls-7 {
    font-size: 29.05px;
}

.cls-8 {
    fill: #fff;
    font-size: 29.88px;
}

.cls-21 {
    letter-spacing: -.03em;
}

.cls-15 {
    fill: #b7b6b6;
    filter: url(#outer-glow-3);
}

.cls-9 {
    letter-spacing: -.07em;
}

.cls-22 {
    letter-spacing: -.02em;
}

.cls-16 {
    fill: url(#_무제_그라디언트_68);
    filter: url(#outer-glow-5);
}

.cls-23 {
    letter-spacing: 0em;
}

.cls-24 {
    letter-spacing: 0em;
}

.cls-25 {
    letter-spacing: 0em;
}

/* needle을 Y축으로만 이동 */
#needle {
    transition: transform 0.5s ease-in-out;
}