.b1151c2b-e116-4091-95e1-abf4efff4caa {
    isolation: isolate;
}

.b09d5a79-aa13-4213-821d-9a021bfbf0bd {
    font-size: 85px;
    font-family: DINPro-Bold, DINPro;
    font-weight: 700;
}

.a2f6fed8-2390-42a6-b9d8-2919386bcd77 {
    opacity: 0.75;
    mix-blend-mode: screen;
}

.ba3b1290-7efe-440c-8294-c12015520063 {
    fill: #4096b6;
}

.bd2bc54a-22fd-47cf-945f-b3aa85068c76, .e07257d4-0ec7-453a-82d6-20df212dee6d {
    fill: #b0dde8;
}

.b40c436c-2457-40ce-bef0-81f8f104ba33, .e07257d4-0ec7-453a-82d6-20df212dee6d {
    stroke: #71c6d4;
}

.b40c436c-2457-40ce-bef0-81f8f104ba33, .e07257d4-0ec7-453a-82d6-20df212dee6d, .f7ffb0ad-ea22-48d0-ba54-45aac392ff04 {
    stroke-miterlimit: 10;
}

.be341f32-4458-49da-af32-903e661ace72 {
    fill: #418fad;
}

.b40c436c-2457-40ce-bef0-81f8f104ba33, .bd1b5b6f-0895-4e48-bca0-fa82e761f1e0 {
    fill: none;
}

.a32480d2-1bba-4313-8939-772332c05d5d {
    font-size: 19.48px;
    letter-spacing: -0.05em;
}

.a32480d2-1bba-4313-8939-772332c05d5d, .ac890091-6db9-4cc2-8cdb-313b6a11cc2c, .b1e407ed-f69a-4465-b566-c3679411291a, .b38e8eca-ce9c-400f-9036-79fe4e84503f, .b3ad1248-7789-437b-b226-96706a9c0bf2, .b66955ee-b511-47f9-b0b7-a1e189724d05, .b8aba993-3752-4464-b632-b27a0b5563a3, .b8cfc3ca-08ce-42e6-9333-c84d6003848d, .bbb9532f-b0b1-4537-9a8f-7a15c00c1c91, .be7d37f2-a07d-4fc2-ac6a-91cb5f78c851, .e1ea1ff0-2e35-4fed-86b1-2f1850bc4e7e, .e2c22604-4327-410b-9769-bfdf107f611d, .e2ca9b68-397c-4081-ab35-1b2f6e72c7cc, .f2fa7831-5906-43e2-bbed-6812c809088e, .f49c203c-02c6-4f97-a9ca-f05b49e163d2, .fd05ae94-9311-4a3b-8db5-437b4eed07d6 {
    fill: #585959;
    font-family: ArialMT, Arial;
}

.b1e407ed-f69a-4465-b566-c3679411291a, .b38e8eca-ce9c-400f-9036-79fe4e84503f, .b3ad1248-7789-437b-b226-96706a9c0bf2, .b8aba993-3752-4464-b632-b27a0b5563a3 {
    font-size: 19.48px;
}

.b8aba993-3752-4464-b632-b27a0b5563a3 {
    letter-spacing: -0.05em;
}

.b66955ee-b511-47f9-b0b7-a1e189724d05, .e1ea1ff0-2e35-4fed-86b1-2f1850bc4e7e, .e2c22604-4327-410b-9769-bfdf107f611d, .f2fa7831-5906-43e2-bbed-6812c809088e, .f49c203c-02c6-4f97-a9ca-f05b49e163d2 {
    font-size: 19.48px;
}

.e2c22604-4327-410b-9769-bfdf107f611d {
    letter-spacing: -0.05em;
}

.ac890091-6db9-4cc2-8cdb-313b6a11cc2c, .be7d37f2-a07d-4fc2-ac6a-91cb5f78c851 {
    font-size: 19.48px;
}

.be7d37f2-a07d-4fc2-ac6a-91cb5f78c851 {
    letter-spacing: -0.05em;
}

.b8cfc3ca-08ce-42e6-9333-c84d6003848d, .bbb9532f-b0b1-4537-9a8f-7a15c00c1c91, .e2ca9b68-397c-4081-ab35-1b2f6e72c7cc, .fd05ae94-9311-4a3b-8db5-437b4eed07d6 {
    font-size: 19.48px;
}

.e2ca9b68-397c-4081-ab35-1b2f6e72c7cc {
    letter-spacing: -0.05em;
}

.b8cfc3ca-08ce-42e6-9333-c84d6003848d {
    letter-spacing: -0.05em;
}

.bbc6b7e7-f615-4f29-aec2-c3853b3c74e1, .e1ea1ff0-2e35-4fed-86b1-2f1850bc4e7e {
    letter-spacing: -0.05em;
}

.b38e8eca-ce9c-400f-9036-79fe4e84503f {
    letter-spacing: -0.05em;
}

.b1e407ed-f69a-4465-b566-c3679411291a {
    letter-spacing: -0.05em;
}

.f2fa7831-5906-43e2-bbed-6812c809088e {
    letter-spacing: -0.05em;
}

.ac890091-6db9-4cc2-8cdb-313b6a11cc2c {
    letter-spacing: -0.05em;
}

.fd05ae94-9311-4a3b-8db5-437b4eed07d6 {
    letter-spacing: -0.05em;
}

.bbb9532f-b0b1-4537-9a8f-7a15c00c1c91 {
    letter-spacing: -0.05em;
}

.f49c203c-02c6-4f97-a9ca-f05b49e163d2 {
    letter-spacing: -0.05em;
}

.b3ad1248-7789-437b-b226-96706a9c0bf2 {
    letter-spacing: -0.05em;
}

.b66955ee-b511-47f9-b0b7-a1e189724d05 {
    letter-spacing: -0.12em;
}

.a21f7f26-9e2d-4536-b2d4-736cb71b9554 {
    fill: #d04b21;
}

.eb0d3e0a-5b7c-4724-8cdc-015de0f215c5 {
    font-size: 40.59px;
    fill: #fff;
    font-family: JejuGothic;
}

.f7ffb0ad-ea22-48d0-ba54-45aac392ff04 {
    fill: #f4cc1d;
    stroke: #fff;
    stroke-width: 1.5px;
}


/* 회전할 그룹만 */
.rotatable-group {
    transform-origin: 312.5px 312.5px;
    transition: transform 0.5s ease-in-out;
}